body {
    font-family: Arial, sans-serif;
    background-color: #0be3f7;
}
header {
    background-color: #be072c;
    color: white;
    padding: 10px;
}
nav a {
    color: rgb(238, 238, 240);
    margin-right: 10px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
.section {
    background-color: rgb(230, 232, 224);
    padding: 15px;
    margin: 20px;
    border: 5px solid #f5061e;
}
h2 {
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: center;
}
